*, *::before, *::after{
    box-sizing: border-box;
}
body{
    text-align: center;
    color: hsl(260, 90%, 80%);
    background-color: hsl(260, 90%, 20%);
}
:root{
    --strength: 50;
}
.strength-meter{
    position: relative;
    margin: 0 auto;
    width: 90%;
    height: 2rem;
    border: 3px solid hsl(260, 90%, 50%);
    border-radius: 1rem;
    overflow: hidden;
}
.strength-meter::before{
    position: absolute;
    content: "";
    width: calc(var(--strength, 0) * 1%);
    height: 100%;
    left: 0;
    background-color: hsl(260, 90%, 70%);
    transition: width ease 0.2s;
}
.password{
    margin: 10px;
    width: 60%;
    height: 2rem;
    color: hsl(260, 90%, 80%);
    background-color: hsl(260, 90%, 20%);
    font-size: 1.4rem;
    text-align: center;
    border: 2px solid goldenrod;
    border-radius: 1rem;
}
